* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(110, 177, 149);
}

.header {
  display: flex;
  align-items: center;
  /* background-color: #d8d7d7; */
  justify-content: center;
}

.game-name {
  font-size: 40px;
  text-align: center;
}

.scores {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.scr1,
.scr2 {
  font-size: 32px;
}

.message-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  font-size: 40px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.btn1,
.btn2,
.btn3 {
  padding: 0.8rem;
  width: 100px;
  border-radius: 10px;
  background: skyblue;
  border-color: aqua;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.btn:hover {
  background-color: white;
  color: black;
}

.reload-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reload {
  display: none;
  padding: 0.8rem;
  width: 100px;
  border-radius: 10px;
  background: skyblue;
  border-color: aqua;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: white;
  text-align: center;
}

.result-msg {
  display: flex;
  justify-content: center;
  align-items: center;
}
